* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    scroll-behavior:smooth;
}

body {
    background-color: rgb(12, 21, 41);

    min-height: 3000px;

}

a {
    text-decoration: none;
}

.swal2-icon {
    font-family: inherit !important;  /* Hilangkan pengaruh FontAwesome */
}

.swal2-icon.swal2-warning {
    background-color: #f8bb86 !important; /* Ubah warna icon jika diperlukan */
    border-color: #f8bb86 !important;
}

/* backgrond code RGB (15,23,42) */
/* background text rgb(16, 65, 62) */
/* text header code  */

/* HOME DESKTOP */
.home {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* NAVBAR DESKTOP */
header {


    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    height: 70px;

}

header h2 {
    font-family: "Poppins", sans-serif;
    position: absolute;
    left: 100px;
    font-size: 20px;
    color:greenyellow;
    background: transparent;

}

 header ul li a, .field-text-home h1 span, .field-text-home h3 {
    color: rgb(94, 234, 212);
}

header ul {
    position: absolute;
    right: 90px;
    margin-top: 5px;
}

header ul li {
    display:inline;
    margin: 0px 12px;
}

header ul li {
    list-style-type: none;
}

header ul li a {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    transition: .3s;
    text-decoration: underline;
}

header ul li a:hover {
    color: rgb(27, 137, 122);
}

.hamburger-menu {
    display: none;
}

/* NAVBAR DESKTOP */


/* MAIN HOME */
.section-home {
    position: absolute;
    left: 100px;
    right: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.field-text-home {
    width: 70%;
}

.field-text-home h1 {
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    margin-bottom: -10px;
    color:aqua;
}

.field-text-home h1 br {
    display: none;
}


.field-text-home h2 {
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color:white;
    font-style: italic;
    position:relative;
}

.field-text-home h3 span {
    color: white;
}

.field-text-home p {
    font-family: 'Roboto', sans-serif;
    max-width: 75%;
    font-size: 19px;

    width: 90%;
    padding: 20px 40px 20px;
    background: transparent;
    border: 2px solid rgb(94, 234, 212);
    border-radius: 30px;
}

.field-image-home {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-image-home img {
    width: 75vh;
    height:80vh;
}

.home .swipe-up {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 110px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    bottom: 2%;
    left: 50%;
    right: 50%;
    margin-left: -50px;
    background-color: rgb(16, 65, 62);
    color: rgb(94, 234, 212);
    border: 1px solid rgb(94, 234, 212);
    transition: .3s;
    text-align: center;
    line-height: 35px;
}



.home .swipe-up:hover {
    background-color: rgb(10, 44, 41);
    width: 112px;
    height: 41px;
    border: none;
}

.home .arrow-swipeup {
    color: rgb(94, 234, 212);
    margin-top: 4px;
}

/* HOME */


/* ABOUT DESKTOP */
.about {
    padding: 100px 0;
}

.container-about {
    width: 70%;
    margin: 0 auto;
    padding: 20px 80px 70px;
    background-color: rgb(16, 65, 62);
    border: 2px solid rgb(94, 234, 212);
    border-radius: 30px;
}

.container-about h1 {
    color: rgb(94, 234, 212);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 40px;
}

.container-about h1 span {
    color: white;
}

.container-about p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
}

.container-about p:nth-child(2) {
    margin-bottom: 30px;
}

/* ABOUT DESKTOP */


/* PUNYA SKILLS DESKTOP */
.skill {
    padding: 80px 0;

}

.skill h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    margin-bottom: 60px;
}

.skill h1 span {
    color: rgb(94, 234, 212);

}

.container-image-skill {
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.field-image-skill {
    position: relative;
    background-color: rgb(16, 65, 62);
    width: 20%;
    border: 2px solid rgb(94, 234, 212);
    border-radius: 12px;
    height: 205px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field-image-skill span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(94, 234, 212);
    color: rgb(16, 65, 62);
    border: none;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    line-height: 180px;
    transform: scale(0, 1);
    transform-origin: bottom;
    transition: transform .5s;

}

.field-image-skill:hover span {
    transform: scale(1);

}

.image-skill {
    width: 120px;
}

/* SKILLS DESKTOP */


/* PROJECT DESKTOP */
.project {
    padding: 80px 0;
}

.project h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(94, 234, 212);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 40px;
}

.project h1 span {
    color: white;
}

.container-project {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.field-project {
    width: 42%;
    border-radius: 12px;
    padding: 12px 40px 12px 12px;
    background-color: rgb(16, 65, 62);
    border: 1px solid rgb(94, 234, 212);
    transition: transform .3s ease-in-out;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: max-content;
    row-gap: 22px;
    grid-template-areas: 
    'main-project' 'technology-project';
    transition: transform .3s;
}

.field-project:hover {
    transform: translateY(-10px);
}

.link-to-project {
    grid-area: main-project;
    display: flex;
    gap: 16px;
}

.field-project img {
    border-radius: 8px;
    width: 30%;
    min-height: 120px;
}

.field-text-project {
    width: 70%;
    margin-top: 3px;
}

.field-text-project h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}

.field-text-project h3 span {
    color: rgb(94, 234, 212);
}

.description-project {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

.technology-project {
    display: flex;
    justify-content: end;
    gap: 16px;
    grid-area: technology-project;;
}

.technology-project p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    background-color: rgb(16, 65, 62);
    border: 2px solid rgb(27, 137, 122);
    color: rgb(94, 234, 212);
    padding: 4px 12px;
    border-radius: 16px;
}

.technology-project a:hover {
    cursor: pointer;
}


/* PROJECT DESKTOP */


/* punya footer */
        * {
          margin: 0;

          box-sizing: border-box;
        }

        body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
        }

        footer {
          background-color: #333;
          color: white;
          padding: 30px 0;
          text-align: center;
        }

        .footer-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .footer-logo h1{
          font-size: 27px;
          font-weight: bold;
          margin-bottom: 10px;
          color: RED;
        }

        .footer-logo span{
          margin: 15px 0;

        }

        .footer-social-media a {
          color:#fff;
          margin: 0 10px;
          font-size: 20px;
          text-decoration: none;
          transition: color 0.3s;
        }

        .footer-social-media a:hover {
          color: #1e90ff;
        }

        .footer-menu {
          list-style: none;
          margin: 10px 0;
          display: flex;
          justify-content: center;
          gap: 15px;
        }

        .footer-menu li a {
          color: white;
          text-decoration: none;
          transition: color 0.3s;
        }

        .footer-menu li a:hover {
          color: #1e90ff;
        }

        .footer-copyright {
          font-size: 14px;
          margin-top: 10px;
        }

/* ===== RESPONSIVE VERSION ===== */

/* Tablet */
@media (max-width: 992px) {
    header h2 {
        left: 20px;
    }
    header ul {
        right: 20px;
    }

    .section-home {
        left: 30px;
        right: 30px;
        gap: 30px;
    }

    .field-text-home h1 {
        font-size: 58px;
    }
    .field-text-home h2 {
        font-size: 32px;
    }

    .field-image-home img {
        width: 55vh;
        height: auto;
    }
}

/* Mobile */
@media (max-width: 768px) {
    header {
        padding: 0 20px;
    }

    header ul {
        position: fixed;
        top: 70px;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: rgba(10, 44, 41, 0.98);
        display: block;
        text-align: center;
        padding-top: 25px;
        transition: .4s ease-in-out;
    }

    header ul li {
        display: block;
        margin: 20px 0;
    }

    .hamburger-menu {
        display: block;
        position: absolute;
        right: 20px;
        cursor: pointer;
    }

    header ul.ul-active {
        right: 0;
    }

    .section-home {
        flex-direction: column;
        text-align: center;
        gap: 25px;
        left: 20px;
        right: 20px;
        margin-top: 60px;
    }

    .field-text-home {
        width: 100%;
    }

    .field-text-home h1 {
        font-size: 40px;
    }
    .field-text-home h2 {
        font-size: 26px;
    }

    .field-text-home p {
        font-size: 16px;
        width: 100%;
        padding: 15px;
        text-align: center;
    }

    .field-image-home {
        width: 85%;
    }

    .field-image-home img {
        width: 100%;
        height: auto;
    }

    .container-about {
        width: 90%;
        padding: 20px;
    }

    .container-project {
        flex-direction: column;
    }

    .field-project {
        width: 90%;
        padding: 12px;
    }

    .field-image-skill {
        width: 45%;
        height: 160px;
    }

    .image-skill {
        width: 90px;
    }

    footer {
        font-size: 14px;
    }
}

/* small devices */
@media (max-width: 420px) {
    .field-text-home h1 { font-size: 34px; }
    .field-text-home h2 { font-size: 20px; }
    .field-text-home p { font-size: 15px; padding: 12px; }
    header h2 { left: 12px; font-size: 16px; }
    header ul { right: 12px; }
    .field-image-home img { width: 95%; }
}
